services:
  bot:
    restart: unless-stopped
    image: ghcr.io/tbmpqf/tbm_cpu_v2:${COMMIT_REF:-main}
    container_name: tbm-cpu-v2
    hostname: tbm-cpu-v2
    environment:
      TZ: Europe/Paris
    env_file:
      stack.env
    volumes:
      - tbm-cpu-v2:/data/logs
    networks:
      - tbm_cpu

volumes:
  tbm-cpu-v2:
    name: tbm-cpu-v2

networks:
  tbm_cpu:
    name: tbm_cpu